{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block description %}Vous avez oublié votre de mot de passe? Pas de soucis, reinitialisez-le!{% endblock %}

{% block keywords %}Réinitialisation, Mot de passe, Blog, articles, Jean Dupont{% endblock %}

{% block main %}
    <main>
        <div class="container my-5">
        <h1 class="text-center my-3 display-5">Réinitialisation du mot de passe</h1>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    {% for flash_error in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}


                    {{ form_start(requestForm) }}
                        <div class="mb-3">
                            <label for="reset_password_request_form_email">Email</label>
                            {{ form_widget(requestForm.email, {'attr': {'class':'form-control', 'autofocus':'autofocus'}}) }}
                            <small>
                                <em>
                                Entrez votre adresse email et 
                                nous vous enverrons un lien de réinitialisation de votre mot de passe.
                                </em>
                            </small>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-primary shadow" value="Réinitialiser">
                        </div>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
