{% extends 'themes/base_visitor.html.twig' %}

{% block title %}
	Page du blog
{% endblock %}

{% block description %}
	Hello c'est Dupont! Lisez des articles pertinents
{% endblock %}

{% block keywords %}blog, articles, Jean Dupont{% endblock %}


{% block main %}
    <main>
        <h1 class="text-center">Liste des articles</h1>
    </main>
{% endblock %}