{% extends 'themes/base_visitor.html.twig' %}

{% block title %}
	Page de contact
{% endblock %}

{% block description %}
	Hello c'est Dupont! Lisez des articles pertinents
{% endblock %}

{% block keywords %}blog, articles, Jean Dupont{% endblock %}

{% block main %}
    <main>
        <h1 class="text-center">Page de contact</h1>
    </main>
{% endblock %}