{% extends "themes/base_admin.html.twig" %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block description %}Ajoutez une nouvelle catégorie!{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouvelle catégorie</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto shadow p-4">
                {{ form_start(form) }}
                    <div class="mb-3">
                        <div class="text-danger">{{ form_errors(form.name) }}</div>
                        <label for="category_form_name">Nom</label>
                        {{ form_widget(form.name, {'attr':{'class':'form-control', 'autofocus':'autofocus'}}) }}
                    </div>
                    <div>
                        <input formnovalidate type="submit" class="btn btn-primary shadow" value="Créer">
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}