{% extends "themes/base_visitor.html.twig" %}

{% block title %}
	Page d'accueil
{% endblock %}

{% block description %}
	Hello c'est Dupont! Lisez des articles pertinents
{% endblock %}

{% block keywords %}blog, articles, Jean Dupont{% endblock %}

{% block main %}
	<h1 class="text-center">hello world</h1>
{% endblock %}
