{% extends 'themes/base_visitor.html.twig' %}

{% block title %}
	En d'attente de la vérification du compte par email
{% endblock %}

{% block description %}
	Nous sommes en attente de la vérification de votre compte par email
{% endblock %}

{% block keywords %}Waiting, email, verification, blog, articles, Jean Dupont{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center mx-auto">
                    <h1 class="my-3 display-5">En attente...</h1>
                    <p class="my-3">un mail vous a été envoyé pour la vérification de votre compte.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}